@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Steps</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="~/Home/ProcessTaxReturns" class="btn btn-primary btn-lg">Upload tax returns file</a></p>
    <p><a href="~/Home/ViewDbData" class="btn btn-primary btn-lg">View exsisting data</a></p>
</div>
